.DS_Store
packages
Payload
*UserInterfaceState.xcuserstate
xcuserdata/
_build

/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
